<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/forex.css">
    <title>Forex Converter</title>
</head>
<body>
    <h1 id="intro">Foreign Exchange Converter</h1>
    <div>
        <form action="/forex-converter/converted" method = 'POST'>
            
            <label for="currencyA">Currency converting from:</label>
            <input type="text" name="currencyA" id="currencyA" placeholder="USD">
            <br>
            <label for="currencyB">Currency converting to:</label>
            <input type="text" name="currencyB" id="currencyB" placeholder="EUR">
            <br>
            <label for="amount">Amount:</label>
            <input type="text" name="amount" id='amount_text' placeholder='Amount'>
            <br>
            <button type="submit" name="convertBtn" id="submit">Convert</button>
        </form>
    </div>
    <div>
        {% for msg in get_flashed_messages() %}
            <p>{{msg}}</p>
        {% endfor %}
    </div>
    <div>
        <button onClick="window.location.reload();">New Conversion</button>
    </div>
</body>

</html>